<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gearapp.sstudio.com.gearapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="gearapp.sstudio.com.gearapp.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="gearapp.sstudio.com.gearapp.Credits"
            android:label="@string/title_activity_credits" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="gearapp.sstudio.com.gearapp.Highscores"
            android:label="@string/title_activity_highscores" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="gearapp.sstudio.com.gearapp.LevelSelect"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_level_select" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="gearapp.sstudio.com.gearapp.Level1"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_level1" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="gearapp.sstudio.com.gearapp.Level2"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_level2" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="gearapp.sstudio.com.gearapp.Level3"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_level3" >
        </activity>
    </application>

</manifest>
