<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurora.gears">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActivityTheme" >
        <activity
            android:name="com.aurora.gears.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.aurora.gears.Highscores"
            android:label="@string/title_activity_highscores"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.aurora.gears.LevelSelect"
            android:label="@string/title_activity_level_select"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.aurora.gears.LevelSelect2"
            android:label="@string/title_activity_level_select2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.aurora.gears.LevelSelect3"
            android:label="@string/title_activity_level_select3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.aurora.gears.LevelSelect4"
            android:label="@string/title_activity_level_select4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level1"
            android:label="@string/title_activity_level1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level2"
            android:label="@string/title_activity_level2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level3"
            android:label="@string/title_activity_level3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.aurora.gears.EndScreen"
            android:label="@string/title_activity_end_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level4"
            android:label="@string/title_activity_level4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level5"
            android:label="@string/title_activity_level5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level6"
            android:label="@string/title_activity_level6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level7"
            android:label="@string/title_activity_level7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level8"
            android:label="@string/title_activity_level8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level9"
            android:label="@string/title_activity_level9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level10"
            android:label="@string/title_activity_level10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level11"
            android:label="@string/title_activity_level11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level12"
            android:label="@string/title_activity_level12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level13"
            android:label="@string/title_activity_level13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level14"
            android:label="@string/title_activity_level14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level15"
            android:label="@string/title_activity_level15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level16"
            android:label="@string/title_activity_level16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level17"
            android:label="@string/title_activity_level17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level18"
            android:label="@string/title_activity_level18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level19"
            android:label="@string/title_activity_level19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level20"
            android:label="@string/title_activity_level20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level21"
            android:label="@string/title_activity_level21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level22"
            android:label="@string/title_activity_level22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level23"
            android:label="@string/title_activity_level23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level24"
            android:label="@string/title_activity_level24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level25"
            android:label="@string/title_activity_level25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level26"
            android:label="@string/title_activity_level26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level27"
            android:label="@string/title_activity_level27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level28"
            android:label="@string/title_activity_level28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level29"
            android:label="@string/title_activity_level29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level30"
            android:label="@string/title_activity_level30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level31"
            android:label="@string/title_activity_level31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level32"
            android:label="@string/title_activity_level32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level33"
            android:label="@string/title_activity_level33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level34"
            android:label="@string/title_activity_level34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level35"
            android:label="@string/title_activity_level35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.auroa.level.Level36"
            android:label="@string/title_activity_level36"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.aurora.gears.Settings"
            android:label="@string/title_activity_settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
        </activity>
        <service android:name=".MusicService" android:enabled="true" />
    </application>

</manifest>
